<!DOCTYPE html>
{%- block content %}
{% include 'header.html' %}
{%- endblock %}

<div id="wrapper">
    {%- if support_individual %}
    <div id="individual_match_report" class="main_table">
        <form action="{{ url_for('report_individual_result') }}" method="POST">
            <table class="full-size">
                <caption>Individual Match Report</caption>
                <thead>
                    <th></th>
                    <th>
                        Player
                    </th>
                </thead>
                <tbody>
                    {%- for i in range(1, max_players + 1) %}
                    <tr>
                        <th>{{i}}</th>
                        <td>
                            <select name="{{i}}" style="width:20em;">
                                <option value="" default selected>--select--</option>
                                {%- for player in players_by_name %}
                                <option value="{{ player.player_id }}">{{ player.short_name }}</option>
                                {%- endfor %}
                            </select>
                        </td>
                    </tr>
                    {%- endfor -%}
                </tbody>
            </table>
            {% if support_draws -%}
            <label for="ind_draw">Match was a draw</label><input type="checkbox" id="ind_draw" name="ind_draw"><br />
            {%- endif -%}
            <button type="submit" style="width:8em;">Report Result</button>
        </form>
    </div>
    {%- endif %}
    {% if max_teams >= 2 -%}
    <div id="team_match_report" class="main_table">
        <form action="{{ url_for('report_team_result') }}" method="POST">
            <table class="full-size">
                <caption>Team Match Report</caption>
                <thead>
                    <th>
                        1st
                    </th>
                    <th>
                        2nd
                    </th>
                    {% if max_teams > 2 -%}
                    <th>
                        3rd
                    </th>
                    {% endif -%}
                    {% if max_teams > 3 -%}
                    <th>
                        4th
                    </th>
                    {%- endif %}
                </thead>
                <tbody>
                    {%- for i in range(0, max_players) %}
                    <tr>
                        <td>
                            <select name="{{i}}_first">
                                <option value="" default selected>--select--</option>
                                {%- for player in players_by_name %}
                                <option value="{{ player.player_id }}">{{ player.short_name }}</option>
                                {%- endfor %}
                            </select>
                        </td>
                        <td>
                             <select name="{{i}}_second">
                                <option value="" default selected>--select--</option>
                                {%- for player in players_by_name %}
                                <option value="{{ player.player_id }}">{{ player.short_name }}</option>
                                {%- endfor %}
                            </select>
                        </td>
                        {% if max_teams > 2 -%}
                        <td>
                             <select name="{{i}}_third">
                                <option value="" default selected>--select--</option>
                                {%- for player in players_by_name %}
                                <option value="{{ player.player_id }}">{{ player.short_name }}</option>
                                {%- endfor %}
                            </select>
                        </td>
                        {% endif -%}
                        {% if max_teams > 3 -%}
                        <td>
                             <select name="{{i}}_forth">
                                <option value="" default selected>--select--</option>
                                {%- for player in players_by_name %}
                                <option value="{{ player.player_id }}">{{ player.short_name }}</option>
                                {%- endfor %}
                            </select>
                        </td>
                        {%- endif %}
                    </tr>
                    {%- endfor -%}
                </tbody>
            </table>
            {% if support_draws -%}
            <label for="team_draw">Match was a draw</label><input type="checkbox" id="team_draw" name="team_draw"><br />
            {%- endif -%}
            <button type="submit" style="width:8em;">Report Result</button>
        </form>
    </div>
    {%- endif %}

    <div id="match_manager" class="main_table">
        <table class="full-size">
            <caption>Match Log</caption>
            <thead>
                <tr>
                    <th>Date / Time</th><th>Result</th><th></th>
                </tr>
            </thead>
            <tbody>
                {% set index = matches|length - 1 -%}
                {% for match in matches -%}
                <form action="{{ url_for('match_mod') }}" method="POST">
                    <tr>
                        <td>{{ match.date }}</td>
                        <td style="min-width: 8em;">
                            {% if match.draw -%}
                            DRAW:
                            {%- endif %}
                            {%- for team in match.result_array -%}
                                {% set outer_loop = loop %}
                                {%- if team|length > 1 -%}[{%- endif -%}
                                {%- for player_id in team -%}
                                {{ players_dict[player_id].short_name }}
                                {%- if not loop.last %}, {% endif %}
                                {%- endfor -%}
                                {%- if team|length > 1 -%}]{% endif %}
                                {%- if not loop.last %}, {% endif %}
                            {%- endfor %}
                        </td>
                        <td>
                            <button type="submit" value={{ index }} name="match_to_delete">Delete</button>
                        </td>
                    </tr>
                </form>
                {%- set index = index - 1 %}
                {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
