    body {
        margin:0;
        padding:0;
        background-color:#f2f2e9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    }

    #header {
        margin:0;
        padding:0;
        background-color:white;
    }

    #header_inner {
        padding:0px;
        width:1026px;
        margin: 0 auto;
    }

    #wrapper {
        width:1026px;
        padding:0px;
        margin: 0 auto;
        background-color:white;
    }

    #banner {
        padding:0px;
        margin:0;
        background-color:#ffdf43;
        position:center;
        height:100px;
    }

    .main_table {
        background-color:white;
        padding:25px;
    }

    #ranking_table.table {
        position:center;
    }

    #ranking_table.table.th {
        background-color:#f2f2e9;
    }

    table {
        border-collapse: collapse;
        width:100%;
    }

    th {
        text-align: left;
        border-bottom: 1px solid #ddd;
        color:black;
        background-color:#ffdf43;
    }

    td {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }