    body {
        margin:0;
        padding:0;
        background-color:#f2f2e9;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    }

    #header {
        margin:0;
        padding:0;
        background-color:white;
        border-bottom: 1px solid gray
    }
    
    img.header {
        width:80px;
        padding:5px;
        margin:0;
    }

    #header_inner {
        padding:0;
        margin: 0 auto;
        width:1026px;
        height:40px;
    }
    
    img.header_inner {
        height:80px;
    }
    
    #header_link {
        color: black;
        height: 32px;
        display: block;
        float: left;
        line-height: 20px;    
    }
    
    #header_link_href {
        text-decoration:none;
     }
     
     a.headerLinkLeft {
        color:inherit;
        text-decoration:none;
     }
     
     a.headerLink {
        color:inherit;
        text-decoration:none;
        border-left:1px solid black;
     }
     
     a:active.headerLinkLeft,
     a:hover.headerLinkLeft,
     a:active.headerLink, 
     a:hover.headerLink {
        border-bottom: 4px solid #121212;
    } 

    #wrapper {
        width:1024px;
        padding:0;
        margin: 0 auto;
    }

    #banner {
        padding:0;
        margin:0;
        background-color:#ffdf43;
        height: 55px;
    }

    #under_banner {
        padding:0;
        margin:0;
        background-color:#ffdf43;
        border-bottom: 1px solid black;
        height:2px;
        clear: both;
    }


    #banner_sport{
        font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
        font-size: 28px;
        left:20px;
    }
    
    img.banner {
        height:50px;
        margin-left: 15px;
        margin-top: 5px;
        padding: 0;
        float: left;
    }

    span.banner {
        margin:0;
        padding-left:5px;
        padding-right:5px;
    }

    #navbar {
        padding:0px;
        margin:0px;
        background-color:#ffdf43;
        height: 30px;
    }
    
    ul.banner {
        margin:0;
        padding-top:5px;
        padding-left:15px;
    }

    .main_table {
        background-color:white;
        padding:25px;
    }

    #ranking_table.table {
        position:center;
    }

    #ranking_table.table.th {
        background-color:#f2f2e9;
    }

    table {
        border-collapse: collapse;
        width:100%;
    }

    th {
        text-align: left;
        border-bottom: 1px solid #ddd;
        color:black;
        background-color:#ffdf43;
    }

    td {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
