<!DOCTYPE html>

    {% block content %}
        {% include 'header.html' %}
    {% endblock %}

<style>
    tr:nth-child(even){
        color:white;
        background-color:black;
    }

    tr:nth-child(odd){
        color:black;
        background-color:white;
    }
</style>

<div id="wrapper">
    <div id="ranking_table" class="main_table">
        <table class="full-size">
            <thead>
                <th style="width: 2em;"></th>
                <th style="min-width: 8em;">Player</th>
                <th>Played</th>
                <th>Won</th>
                <th>Ave pos %</th>
                <th>Rating</th>
            </thead>

            <tbody>
            {% for player in players_by_rank %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ player.long_name }}</td>
                    <td>{{ player.match_count }}</td>
                    <td>{{ player.win_count }}</td>
                    <td>{{ player.percent|round(2) }}</td>
                    <td>{{ player.rating|round|int }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>