<!DOCTYPE html>

    {% block content %}
        {% include 'header.html' %}
    {% endblock %}
<div id="wrapper">
    <div id="match_report" class="main_table">
        <form action="{{ url_for('report_result') }}" method="POST">
            <table class="full-size">
                <caption>Match Report</caption>
                <thead>
                    <th></th>
                    <th>
                        Player
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <th>1st</th>
                        <td>
                            <select name="1st" style="width:20em;">
                                <option value="" default selected>--select--</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.long_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>2nd</th>
                        <td>
                            <select name="2nd" style="width:20em;">
                                <option value="" default selected>--select--</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.long_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>3rd</th>
                        <td>
                            <select name="3rd" style="width:20em;">
                                <option value="" default selected>None</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.long_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>4th</th>
                        <td>
                            <select name="4th" style="width:20em;">
                                <option value="" default selected>None</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.long_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>5th</th>
                        <td>
                            <select name="5th" style="width:20em;">
                                <option value="" default selected>None</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.long_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>6th</th>
                        <td>
                            <select name="6th" style="width:20em;">
                                <option value="" default selected>None</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.long_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                </tbody>
            </table>
            <button type="submit" style="width:8em;">Report Result</button>
            <input type="checkbox" id="draw" name="active">
        </form>
    </div>
    <div id="match_manager" class="main_table">
        <table class="full-size">
            <caption>Match Log</caption>
            <thead>
                <tr>
                    <th>Date / Time</th><th>Result</th><th></th>
                </tr>
            </thead>
            <tbody>
                {% set index = matches|length - 1 %}
                {% for match in matches %}
                <form action="{{ url_for('match_mod') }}" method="POST">
                    <tr>
                        <td>{{ match.date }}</td>
                        <td style="min-width: 8em;">
                            {% for player_id in match.result_array %}
                                {{ players_dict[player_id].short_name }},
                            {% endfor %}
                        </td>
                        <td>
                            <button type="submit" value={{ index }} name="match_to_delete">Delete</button>
                        </td>
                    </tr>
                </form>
                {% set index = index - 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
