<!DOCTYPE html>

    {% block content %}
        {% include 'header.html' %}
    {% endblock %}
<div id="wrapper">
    <style>
        #add_user_table{
            width: 24em;
        }
    </style>
    <script>
        players = []
        {% for player in players_by_name %}
            players.push( { name:'{{player.name | safe}}', active:{{player.active|lower}}, player_id:{{player.player_id}} })
        {% endfor %}

        function populate_user()
        {
            var user_select = document.getElementById("user")
            var id = user_select.options[user_select.selectedIndex].value;
            if (id >= 0)
            {
                player = {}
                for(var i=0; i<players.length; i++)
                {
                    if(players[i].player_id == id)
                    {
                        player = players[i];
                    }
                }
                var name_input = document.getElementById("name");
                name_input.value = player.name;

                var active_input = document.getElementById("active");
                active_input.checked = player.active;
                console.log(id)
            }
        }
    </script>
    <div id="add_user" class="main_table">
        <form action="{{ url_for('add_user') }}" method="post">
            <table id="add_user_table" class="full-size">
                <caption>Add New Player</caption>
                <thead>
                <tr>
                    <th>New Player Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="add_name" style="width: 20em;" /></td>
                        <td><button type="submit">Add Player</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div id="user_manager" class="main_table">
        <form action="{{ url_for('user_mod') }}" method="POST">
            <table class="full-size">
                <caption>Modify User</caption>
                <thead>
                    <tr>
                        <th>
                            Player
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Active
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="user" id="user" onchange="populate_user()">
                                <option value=-1 default selected>--select--</option>
                                {% for player in players_by_name %}
                                    <option value="{{ player.player_id }}">{{ player.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" style="width: 20em;">
                        </td>
                        <td>
                            <input type="checkbox" id="active" name="active">
                        </td>
                        <td>
                            <button type="submit">Modify</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>